*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;	
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.wrapper{
	width:960px;
	display:block;
	margin:0 auto;
}
.header{
	display:block;
	background:#ededff;
	height:auto;
	padding:10px 10px;
	overflow:hidden;
	margin-top:5px;
}
.color1{
    width: 27px;
    height: 27px;
    background: gold;
    border-radius: 50%;
}
.color2{
    width: 27px;
    height: 27px;
    background: red;
    border-radius: 50%;
    margin-left: 5px;
}
.color3{
    width: 27px;
    height: 27px;
    background: #15e75feb;
    border-radius: 50%;
    margin-left: 5px;
}
.nav{
	background:black;
	overflow:hidden;
}
.logo{
	background:black;
	padding:10px 10px;
}
.logo h2{
	font-size:32px;
	color:#2d969b;
}
.menu{
    background: black;
    margin-right: 23px;
    overflow: hidden;
}
.menu ul{
	margin-top:7px;
}
.menu ul li{
	list-style:none;
    border-right: 1px solid #b39e9e;
	display:inline-block;
	
}
.menu ul li:last-child{
	border-right:none;
}
.menu ul li a{
    display: block;
    color: #d7d7d7;
    padding: 10px 10px;
    background: black;
    font-weight: bold;
    font-size: 18px;
	transition:1s all ease;
}
.menu ul li a:hover{
	color:white;
}
.call_btn_p{
	color:#ffd508;
	font-size: 22px;
}
.call_nmbr{
	background:#ffd508;
	color:#877e7e;
	padding:10px 7px;
	border-radius:10px;
	transition:1s all ease;
}
.call_nmbr:hover{
	color:#000000;
}
.background_photo{
	height:auto;
	background:url("img/download.jpg") no-repeat;
	background-size:cover;
}
.main_part{
	padding:46px 0px;
	overflow:hidden;
}
.left_side{
    width: 300px;
    margin-left: 130px;
    margin-top: 100px;
    height: auto;
}
.left_side h1{
	font-size:32px;
	font-weight:bold;
	color:#073648;
	text-transform:uppercase;
}
.left_side p{
	font-size:22px;
	color:#342631;
	text-shadow:3px 2px 10px #44ff0c9e;
}
.form{
    width: 364px;
    height: auto;
    margin-top: 100px;
	background:black;
	color:white;
    border-radius: 10px;
    margin-right: 111px;
}
.main_form{
	width:320px;
	height:auto;
	margin:20px auto;
	overflow:hidden;
}
.name{
    width: 320px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 26px;
	border:none;
	transition:0.50s all ease;
    background: white;
}
.email{
    width: 320px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 26px;
	border:none;
	transition:0.50s all ease;
    background: white;
}
.number{
    width: 320px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 26px;
	border:none;
    background: white;
	transition:0.50s all ease;
}
.number:hover{
	border-radius:0px;
	background:#e1e1f1;
	padding:25px;
}
.email:hover{
	border-radius:0px;
	background:#e1e1f1;
	padding:25px;
}
.name:hover{
	border-radius:0px;
	background:#e1e1f1;
	padding:25px;
}
.main_form p{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}
.btn2{
	margin-top:10px;
	margin-left:89px;
	
}
.btn2 button{
	border:none;
	padding:10px 10px;
	font-weight:bold;
	font-size:14px;
	border-radius:10px;
	background:#c3a505;
	transition:0.50s all ease;
}

.btn2 button:hover{
	padding:12px 12px;
	background:gray;
	color:white;
}
.btn_1{
	margin-top:10px;
	margin-left:70px;
	
}
.btn_1 button{
	border:none;
	padding:10px 10px;
	font-weight:bold;
	font-size:14px;
	border-radius:10px;
	background:#c3a505;
	transition:0.50s all ease;
}
.btn_1 button:hover{
	padding:12px 12px;
	background:gray;
	color:white;
}
.footer{
	background:black;
	padding:20px 0px;
}
.footer p{
	color:white;
	text-align:center;
	font-size:20px;
	
}
.footer a{
	color:#f7d0d0;
	
}
.footer a:hover{
	background:white;
	color:black;
}